{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shakir Sadiq</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>Shakir Sadiq</h1>
            <h2>Unleash the Python Prodigy</h2>
            <a href="#" class="btn-rounded-white">Download Resume</a>
        </div>

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p style="text-align: justify; padding-bottom: 15px;">
                        With a solid 3 years of experience in Python, I have honed my craft as a Backend Developer and brought numerous projects to life. My expertise spans various domains, including Web (Django, Flask) and API (DRF) development, where I excel at creating efficient and scalable Websites and RESTful APIs. Additionally, I am well-versed in integrating Websites into cloud-based platforms, ensuring seamless interactions and top-notch performance.
                    </p>
                    <p style="text-align: justify; padding-bottom: 15px;">
                        Beyond API and Web development, I have ventured into the captivating realms of Machine Learning (ML) and Artificial Intelligence (AI). Leveraging ML and AI algorithms, I have contributed to cutting-edge projects that utilize data-driven insights, automate processes, and enable informed decision-making. Furthermore, I have delved into the world of ChatGPT and chatbots, crafting interactive conversational interfaces to enhance user experiences.
                    </p>
                    <p style="text-align: justify;">
                    Stepping outside the Python ecosystem, I have explored Golang (Go), broadening my problem-solving skills and enabling me to craft efficient solutions in this versatile language. As I continue my journey in software development, my diverse experiences in API development, ML, AI, ChatGPT, chatbots, Django, DRF, APIs, version control, and Golang fuel my passion for innovation, pushing the boundaries of what can be achieved in backend development.
                </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">
        <h2 class="heading">Work Experience</h2>
        <div id="experience-timeline">
            <div data-date="December 2022 – Present">
                <h3>Snakescript Solutions LLP</h3>
                <h4>Python Developer</h4>
                <p style="text-align: justify; color: #74808a;">
                    I have been working in the company as a team leader, where I have been leading a team in developing projects using Django, incorporating OpenAI and machine learning technologies. One of my key responsibilities has been ensuring timely project delivery while also ensuring client satisfaction.
                </p>
                <ul style="text-align: justify; color: #74808a;">
                    <li>
                        Led a proficient team in the development of Django-based projects, skillfully integrating OpenAI and machine learning technologies to deliver innovative solutions on time and exceed client expectations.
                    </li>
                    <li>
                        As the primary client contact, adeptly communicated project progress and effectively incorporated client feedback, resulting in improved project outcomes and high client satisfaction rates.
                    </li>
                    <li>
                        Successfully managed and mentored a team of developers, fostering a collaborative environment and streamlining workflows to enhance overall productivity and efficiency.
                    </li>
                    <li>
                        Demonstrated expertise in Python and Django, leveraging machine learning algorithms and integrating OpenAI models to achieve advanced and cutting-edge project solutions.
                    </li>
                    <li>
                        Applied critical thinking and innovative problem-solving to overcome technical challenges, optimizing code performance and contributing to the continuous growth of the projects and the team.
                    </li>
                </ul>
                <p style="text-align: justify; color: #74808a;">
                    Overall, my two years of experience at the company have been marked by significant contributions to machine learning model development, API and web app development, client engagement, continuous improvement, and technological innovation. These achievements not only enriched my own skill set but also played a vital role in the growth and success of the organization.
                </p>
            </div>

            <div data-date="January 2021 – December 2022">
                <h3>Drish Infotech Pvt. Ltd</h3>
                <h4>Programmer Analyst</h4>
                <p style="text-align: justify; color: #74808a;">
                    Over the course of two years in the company, I gained diverse experience in various aspects of machine learning and software development, contributing significantly to the organization's success. Below is a comprehensive summary of my accomplishments: 
                </p>
                <ul style="text-align: justify; color: #74808a;">
                    <li>
                        Proficiently designed and constructed various machine learning models catering to diverse applications and industries. Leveraged advanced algorithms and data processing techniques to deliver effective solutions.
                    </li>
                    <li>
                        Successfully developed and deployed ML-powered APIs, web applications, and chatbots, providing seamless integration of machine learning functionalities for enhanced user experiences.
                    </li>
                    <li>
                        Engaged with a wide range of clients from both global and Indian markets, understanding their unique requirements, and delivering tailor-made solutions that precisely addressed their business challenges.
                    </li>
                    <li>
                        Actively pursued continuous learning and research in the field of machine learning, staying up-to-date with the latest advancements and best practices. Implemented cutting-edge algorithms to enhance the efficiency and accuracy of models.
                    </li>
                    <li>
                        Leveraged emerging technologies and tools to create state-of-the-art solutions for clients, pushing the boundaries of what machine learning can achieve and delivering innovative and competitive outcomes.
                    </li>
                </ul>
                <p style="text-align: justify; color: #74808a;">
                    Overall, my two years of experience at the company have been marked by significant contributions to machine learning model development, API and web app development, client engagement, continuous improvement, and technological innovation. These achievements not only enriched my own skill set but also played a vital role in the growth and success of the organization.
                </p>
            </div>
        </div>
    </div>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Punjab Technical University</h3>
            <span class="education-date">August 2017 - July 2021</span>
            <h4>Bachelor of Technology in Computer Science</h4>
            <p style="text-align: justify;">
                I have successfully completed my Bachelor of Technology (B.Tech) in Computer Science from PTU, achieving a CGPA of 8.09. Throughout my academic journey, I have acquired a solid foundation in computer science principles, programming, and problem-solving, setting a strong base for my future endeavors in the technology industry.</p>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

    <div id="projects" class="background-alt">
        <h2 class="heading">Personal Projects</h2>
        <div class="container">
            <div class="row">
                <div class="project shadow-large">
                    <div class="project-image">
                        <img style="height: 300px; width: 300px;" src="{% static 'images/facial_recognition_project.jpg' %}" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Facial Recognition</h3>
                        <p>
                            The facial recognition project in Python aims to detect faces in images and utilize the recognition results to mark attendance. It utilizes computer vision techniques to identify faces accurately and then matches them against a pre-existing database to record attendance for individuals in an efficient and automated manner.
                        </p>
                        <a href="https://github.com/Shakirsadiq6/FaceRecognitionAttendanceSystem">View Project</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
                <div class="project shadow-large">
                    <div class="project-image">
                        <img style="height: 300px; width: 300px;" src="{% static 'images/sentiment-analysis-emotion-detection-project.jpg' %}" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Emotion Classification & Sentiment Analysis</h3>
                        <p>
                            A text contains sentiments and emotions of the typist. Here the project is meant to develop in order to identify those. Therefore the project , can be called as mini research, is known as Emotion classification and sentiment analysis of the text.It is a Jupyter Notebook based project.
                        </p>
                        <a href="https://github.com/Shakirsadiq6/emotion-classification-sentiment-analysis">View Project</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
                <div class="project shadow-large">
                    <div class="project-image">
                        <img style="height: 300px; width: 300px;" src="{% static 'images/ai-chatbots-project.jpg' %}" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>AI Chatbot</h3>
                        <p>
                            The AI Chatbot for Customer Support is a project developed using the RASA framework, designed to provide efficient and personalized customer assistance in a conversational manner. The chatbot utilizes natural language processing (NLP) and machine learning techniques to understand user inputs, interpret their intentions, and generate appropriate responses.
                        </p>
                        <a href="https://github.com/Shakirsadiq6/ChatbotsRASA">View Project</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
            </div>
        </div>
    </div>
    <!-- End #projects -->

    <div id="skills">
        <h2 class="heading">Technical Skills</h2>
        <ul>
            <li>Python3</li>
            <li>Golang</li>
            <li>HTML</li>
            <li>JS</li>
            <li>Django</li>
            <li>DRF</li>
            <li>Flask</li>
            <li>RASA</li>
            <li>Web Automation</li>
            <li>Chatbot Development</li>
            <li>OPEN AI</li>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>Version Control</li>
            <li>JIRA</li>
            <li>Machine Learning</li>
            <li>Artificial Intelligence</li>
            <li>Web Servers</li>
            <li>Windows</li>
            <li>Linux</li>
            <li>MacOS</li>
        </ul>
    </div>
    <!-- End #skills -->

    <div id="contact">
        <h2>Get in Touch</h2>
        <div id="contact-form">
            <form method="POST" action="https://formspree.io/email@email.com">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <!-- End #contact-form -->
    </div>
    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Shakir Sadiq - Backend Developer
                    </p>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/shakirsadiq6" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/15090325/shakir-sadiq" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/shakir-sadiq-35720a19b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/scripts.min.js' %}"></script>
</body>

</html>
